<header>

    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="d-flex">
                <!-- Boutons de navigation à gauche -->
                {% if session.get('email') %}
                    <a href="{{ url_for('homepage') }}" class="btn btn-light mx-2" role="button">Homepage</a>
                {% endif %}
                {% if request.path != '/clubs' %}
                    <a href="{{ url_for('clubs_list') }}" class="btn btn-light mx-2" role="button">Clubs list</a>
                {% endif %}
                {% if session.get('email') %}
                    <a href="{{ url_for('logout') }}" class="btn btn-light mx-2" role="button">Logout</a>
                {% endif %}
                {% if not session.get('email') %}
                    {% if request.path != '/' %}
                        <a href="{{ url_for('login_and_register') }}" class="btn btn-light mx-2" role="button">
                            Register as a club</a>
                    {% endif %}
                    {% if request.path != '/competition_registration' %}
                        <a href="{{ url_for('competition_registration') }}" class="btn btn-light mx-2" role="button">
                            Register as a competition</a>
                    {% endif %}
                {% endif %}
            </div>

            <!-- Bouton à droite -->
            <!--
            % if session.get('email') %}
                <a href="#" class="btn btn-light ms-auto" role="button"><B>{ club['points'] }}</B></a>
            % else %}
                <a href="#" class="btn btn-light ms-auto" role="button"><i>Register to see your amount of points</i></a>
            % endif %}
            -->
        </div>
    </nav>

</header>
