{% extends "base.html" %}

{% block title %}Summary | GUDLFT homepage{% endblock title %}

{% block content %}

    <div class="card mx-3 border-0">
        <h2>Welcome, {{ club['name'] }} </h2>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        Points available: {{ club['points'] }}

        <h3>Competitions:</h3>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            {% for competition in competitions %}
                <div class="card mb-4 mx-2" style="width: 18rem;">
                    <div class="card-header text-center"><B>{{ competition['name'] }}</B></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">Date: {{ competition['date'] }}</li>
                        <li class="list-group-item text-center">Number of
                            Places: {{ competition['available_places'] }}</li>

                        {% if competition['name'] and club['name'] %}
                            {% if competition['available_places']|int > 0 %}
                                <li class="list-group-item text-center">
                                    <a href="{{ url_for('book', competition=competition['name']|slugify, club=club['name']|slugify) }}">Book my places</a>
                                </li>
                            {% else %}
                                <li class="list-group-item text-center">
                                    <p><i>This competition is complete</i></p>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
